(
    name: "zellij",
    description: "Attach or create zellij session",
    bin: (path: "main.py"),
    icon: Name("utilities-terminal"),
    query: (
        regex: "^zz .*",
        help: "zz "
    )
)
